* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right top, #65c7df, #6cbdeb);
  position: relative;
  font-family: "Poppins", sans-serif;
}

#root{
  width: 60%;
  margin: auto;
  text-align: center;
  height: 100vh;
}

.App{
  height: 85%;
  width: 65%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(
    to right bottom,
    rgba(255,255,255,0.6),
    rgba(255,255,255,0.2)
    );
  border-radius: 2rem;
  padding: 20px;
  z-index: 2;
  backdrop-filter: blur(2rem);
}

.nav-bar{
  flex: 1;
  /* width: 25%; */
  height: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-container{
  flex:4;
  /* width:75%; */
  align-self: center;
  /* height: 100%; */
}

#circle-1, #circle-2{
  height: 200px;
  width: 200px;
  background: linear-gradient(
    to right bottom,
    rgba(222, 165, 228, 0.8),
    rgba(255, 186, 186, 0.2)
  );
  border-radius: 50%;
  position: absolute;
}

#circle-1{
  top: 2%;
  right: 10%;
}
#circle-2{
  bottom: 2%;
  left: 13%;
}

.show-all-info, .show-all-info a{
  text-decoration: none;
  color: #07336d;
  font-weight: 600;
  opacity: 0.8;
  vertical-align: middle;
  font-size: 1rem;
}

.show-all-info{
  width: 100%;
  height: 5%;
  padding-top: 2.5%;
  text-align: center;
  /* color: rgb(238, 231, 231); */
  /* background: rgb(212, 212, 212); */
}