#student-details-paper{
    width: 90%;
    max-height: 100%;
    margin: auto;
    background: none;
    padding:15px 30px;
    border-radius: 2rem;
}

h2{
    text-align: start;
}

.name{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: honeydew solid 1px;
    margin-bottom: 10px;
}

.contact-info-box{
    text-align: left;
    border-bottom: honeydew solid 1px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.dorm-box{
    text-align: left;
    border-bottom: honeydew solid 1px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.dorm-box h4{
    margin-bottom: 5px;
}

.enroll-classes-box{
    text-align: left;
    border-bottom: honeydew solid 1px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    height: 68px;
}
.enroll-classes-box h4{
    margin-bottom: 5px;
}

.enroll-classes-box .display-enrolled-classes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
    height: 75%;
}

.display-enrolled-classes p{
    display: flex;
}

.add-classes-box{
    text-align: left;
    border-bottom: honeydew solid 1px;
    margin-left: 20px;
    /* margin-bottom: 15px;
    padding-bottom: 10px; */
    height: 110px;
}

.display-ac{
    overflow: auto;
    height: 75%;
}

.add-classes-box h4{
    margin-bottom: 5px;
}







